.card-body img{
    width: 100%;
    height: 146.667px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.card{
    height: 250px;
    width: 220px;
    float: left;
    padding: 10px;
    margin-top: 10px;
    

  
}
.card-body{
    
    box-shadow: 0 2px 20px gray;
    border-radius: 5%;
  
    
}
.card:hover{
    transform: scale(1.02);
}

h3{
    margin-left: 10px;
    
}
.card-btn{
    margin-left: 20px;
    width: 180px;
    margin-bottom: 13px;
    border-radius: 5%;
    border: 2px solid sienna;
    color: sienna;
}
.card-btn:hover{
    background-color: sienna;
    color: snow;
    cursor: pointer;
}






.Lienhe{
    
    width: 1000px;
    height: 800px;
    display: flex;
    margin:auto;
    
}

.thanhvien{
    width: 400px;
    height: 500px;
    border-radius: 2%;
    margin-left: 25px;
    margin-top: 100px;
    
}
.avt img{
    width: 70%;
   margin-left: 46.25px;
    
}

.tenThanhvien {
    padding-top: 20px;
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 15px;


}
.tenThanhvien span{
    color: rgb(20, 27, 27);
    font-size: 25px;
}
.tughi span{
    font-family: sans-serif;
}
